/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.menu {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  color: #fff;
  z-index: 100;
  height: 100vh;
  width: 100vw; 
}

.menu p {
  font-size: 1.2rem;
  text-decoration: underline;

} 

.player-forms {
  display: flex;
  justify-content: center;
}

.player-forms form {
  margin: 3rem;
}

.player-forms label {
  display: block;
  font-size: 1.4rem;
}

.player-forms input {
  padding: .5rem 1rem;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
}

h1 {
  text-align: center;
  margin: 50px;
  font-size: 50px;;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 360px;
  height: 360px;
  margin: auto;
  border: 3px solid #fff;
  border-radius: 1rem;
  margin: 30px auto;
}

.grid-square {
  border: 3px solid #fff;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  min-width: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-square:nth-of-type(1) {
  border-top-left-radius: 1rem;
}

.grid-square:nth-of-type(3) {
  border-top-right-radius: 1rem;
}

.grid-square:nth-of-type(7) {
  border-bottom-left-radius: 1rem;
}

.grid-square:nth-of-type(9) {
  border-bottom-right-radius: 1rem;
}

.grid-square:hover {
  cursor: pointer;
  background-color: #222;
}

.gameboard h1 {
  grid-column: 1 / 4;
  grid-row: 1;
  display: block;
  margin-top: auto;
}

.btn {
  padding: 10px 50px;
  background-color: #111;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1rem;
}

.btn-play {
  margin: auto;
}

#btn-reset {
  margin-bottom: auto;
  grid-column: 2;
}

.btn:hover {
  background-color: #122;
  transform: scale(1.03);
  cursor: pointer;
}