* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e9aa7;
  color: #111;
}


h1 {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 360px;
  height: 360px;
  margin: auto;
  border: 3px solid #111;
}

.grid-square {
  border: 3px solid #111;
  color: #111;
  font-size: 3rem;
  font-weight: 600;
  min-width: 120px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-square:hover {
  cursor: pointer;
  background-color: #ddd;
}

.gameboard h1 {
  grid-column: 1 / 4;
  grid-row: 1;
  display: block;
  margin-top: auto;
}

.btn {
  padding: 10px 30px;
  background-color: #111;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 1rem;
}

#btn-reset {
  margin-bottom: auto;
  grid-column: 2;
}

.btn:hover {
  background-color: #122;
  transform: scale(1.03);
  cursor: pointer;
}